<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research and Professional Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ph.D student</h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Michigan State University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research Topic: Determining the loci that underlie the differences between weedy R. raphanistrum and its non-weedy relatives</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Course Coordinator</h3>
                            <div class="time">Summer 2014 & 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="angus.readthedocs.io/en/2016/" Next-Gen Sequence Analysis Workshop</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
